:root {
  --blanco: #fff;
  --gris: #757575;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
}

a {
  text-decoration: none;
  color: var(--oscuro);
}

.contenedor {
  background-color: var(--secundario);
}

.main-header .titulo {
  text-align: center;
  font-size: 3.8rem;
}

.main-header .titulo span {
  font-size: 2rem;
}

.main-header .navegacion-principal {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

@media (min-width: 768px) {
  .main-header .navegacion-principal {
    flex-direction: row;
    margin: 0 auto;
  }
}

.main-header .navegacion-principal a {
  flex: 1 1 0;
  padding: 1rem 1.5rem;
  text-align: center;
  color: var(--blanco);
  font-weight: 600;
  transition: all ease 200ms;
}

.main-header .navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}
