:root {
  --blanco: #fff;
  --gris: #757575;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --grisClaro: #dfe9f3;
}

/*
 * GLOBALES
 */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem = 10px */
  font-family: 'Krub', sans-serif;
  background-image: linear-gradient(to bottom, var(--blanco), var(--grisClaro));
}

h1 {
  font-size: 3.8rem;
}

h2,
h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

/*
 * CLASES UTILITARIAS
 */

a {
  text-decoration: none;
  color: var(--oscuro);
}

.contenedor {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor {
    margin: auto;
  }
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding: 1rem 3rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  width: 90%;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}

/*
 * ENCABEZADO PRINCIPAL
 */

.main-header .titulo span {
  font-size: 2rem;
}

.main-header .color-fondo-navegacion {
  background-color: var(--secundario);
}

/* NAVEGACIÓN PRINCIPAL */

.main-header .navegacion-principal {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-header .navegacion-principal {
    flex-direction: row;
  }
}

.main-header .navegacion-principal a {
  flex: 1 1 0;
  padding: 1rem 1.5rem;
  text-align: center;
  color: var(--blanco);
  font-weight: 600;
  transition: all ease 200ms;
}

.main-header .navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

/* SECCIÓN HERO BANNER */

.main-header .hero {
  background: var(--oscuro) url('../img/hero.jpg') center center / cover
    no-repeat;
  height: 450px;
}

.main-header .hero .contenido-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  gap: 1rem;
  color: var(--blanco);
}

.main-header .hero .contenido-hero .contenedor-ubicacion {
  display: flex;
  align-items: end;
  gap: 0.5rem;
}


.main-header .hero .contenido-hero .contenedor-ubicacion p {
  margin: 0;
}

.main-header .hero .contenido-hero .contenedor-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*
 * CONTENEDOR PRINCIPAL
 */

.contenedor-principal {
  background-color: var(--blanco);
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 5px 15px 0 rgba(112, 112, 112, 0.5);
}

/* CONTENEDOR SERVICIOS */

@media (min-width: 768px) {
  .contenedor-principal .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

.contenedor-principal .servicios section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal .servicios section h4 {
  color: var(--secundario);
  font-weight: 400;
}

.contenedor-principal .servicios section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--primario);
}

.contenedor-principal .servicios section p {
  text-align: center;
  line-height: 2;
}
